Source: mfp-consthash
Section: devel
Priority: optional
Maintainer: Bo Blanton <boblanton@myfitnesspal.com>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8.0.0)

Package: mfp-consthash
Architecture: all
Description: A line-to-line consistent hashing proxy server