Package: mfp-consthash
Source: mfp-consthash
Section: MFP
Priority: optional
Architecture: amd64 i386
Essential: No
Build-Depends: debhelper (>= 8.0.0)
Maintainer: Bo Blanton <boblanton@myfitnesspal.com>
Description: A line-to-line consistent hashing proxy server